body {
    color:#777;
    background: #777;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-size: 18px;

}
/**style header**/
header {  
    color: #ebebeb;
    height: 100;
    width: 900px;
    text-align: center;
}
section{
    background: #ebebeb
}
/**style blog**/
.#blog {
    color: #ebebeb;
    background: #777;
}
.heading{
    color: #777;
    background: #ebebeb;
}
.para{
    color: #777;
    background: #ebebeb;
}